<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Node.js
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" href="/css/style.css")
    body
        nav
            a.cont(href="/")
                img(
                    src="/img/logoNode.png" 
                    alt="logoNode"
                    class="logo"
                    ) 
        h1 Node...qué podríamos decir de Node... 
        div.est
            h3 Estudia
            h3 Dedícale tiempo
            h3 Persevera
            h3 Llora
        br
        a.est(href="/Location_Ni_te_imaginas_lo_que_te_espera") ¿Dónde estamos?  
            