<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Node.js
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" href="/css/style.css")
    body
        nav
            div.menu-home
                a(href="/About_Esto_acaba_de_empezar") Quienes somos
                a(href="/Location_Ni_te_imaginas_lo_que_te_espera") Aquí estamos!!
                a(href="/Mission_Morirnos_eso_hacemos") Qué hacemos
                a(href="/Contact_Llama_llama_que_veras_que_gracia") Contáctanos
        h1.h1-home=name
        div.img-home
            a(href="https://nodejs.org/es/" target="_blank")
                img(
                    src="/img/logoNode.png" 
                    alt="logoNode" 
                    ) 