<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" href="/css/style.css")
    body
        nav
            a.cont(href="/")
                img(
                    src="/img/logoNode.png" 
                    alt="logoNode"
                    class="logo"
                    ) 
        h1 Si nos quieres buscar...nos encuentras
        div.add
            h3(class="h3_loc") C/ Del Cristo Bendito en la que me he metío, 10 28935 Madrid
                br
            p NODEjarasdellorar@node.com
        a.add(href="/Mission_Morirnos_eso_hacemos") Qué hacemos